// Art Photo Obsession

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Mixins, colours and vars
@import "app/mixins",
    "app/pallete";

// Helpers
@import "app/helpers";

// Typography
@import "app/typography";

// Main styles
@import "app/main";

// SVG Sprites
@import "ui/sprite",
    "ui/touch-slider";

// Partials
@import "partials/_header",
    	"partials/_top-image",
    	"partials/_intro",
      "partials/_main-page-categories",
    	"partials/_catalog-list",
    	"partials/_catalog-photo-preview",
    	"partials/_item-card",
    	"partials/_info-page",
    	"partials/_accept-footer",
      "partials/_basket",
      "partials/_sign-in-up",
      "partials/_profile",
      "partials/_order",
    	"partials/_footer";
