.basket {

	.basket-label {
		margin-top: -30px;
		margin-left: -4px;
	}

	h3 {
		margin-top: 0px;
		margin-bottom: 0px;

		// Mobile & tablet
		@media (max-width: 991px) {
			margin-top: 10px;
		}
	}

	p.author {
		font-size: 20px;
		@include light-font();

		color: $gray;
	}

	p.size {
		font-size: 18px;
		@include light-font();

		margin-top: 10px;
	}

	p.price {
		font-size: 36px;
		font-weight: bold;
		
		margin-top: -10px;
	}

	.delete-button {
		margin-top: 10px;

		// Mobile & tablet
		@media (max-width: 991px) {
			text-align: right;	
		}
	}

	.row {

		&:not(:first-child) {
			margin-bottom: 20px;
		}
	}

	.total-price {
		
		// Mobile & tablet
		@media (max-width: 991px) {
			text-align: left !important;

			&:last-child {
				padding-bottom: 100px;
			}

			.button {
				position: absolute;
				width: 100%;

				left: 0;
			}
		}

		p {
			font-size: 36px;
			@include bold-font();
		}
	}
}