.category-name {
	
	// Desktop medium
	@media (min-width: 992px) {
		font-size: 62px;
		line-height: 96px;
		margin-bottom: -10px;
	}

	// Tablet
	@media (min-width: 768px) and (max-width: 991px) {
		font-size: 48px;
	}
	
	// Mobile
	@media (max-width: 767px) {
		font-size: 36px;
	}
	
	// choose category
	.choose-category {
		cursor: pointer;

		@include medium-font();
		
		display: inline-block;
		position: relative;
		
		// Desktop medium
		@media (min-width: 992px) {
			top: -30px;
			margin-left: -20px;

			font-size: 18px;

			span.liga {
				font-size: 18px;
			}
		}

		// Tablet
		@media (min-width: 768px) and (max-width: 991px) {
			top: -20px;
			margin-left: -10px;

			font-size: 14px;

			span.liga {
				font-size: 12px;
			}
		}
		
		// Mobile
		@media (max-width: 767px) {
			top: -20px;
			margin-left: -10px;

			font-size: 12px;

			span.liga {
				font-size: 10px;
			}
		}
	}
}

// custom bootstrap dropdown
.choose-category-dropdown {
	border-radius: 0px;
	border: none;

	box-shadow: none;
	background: rgba(255, 255, 255, .90);

	margin: 0;

	margin-top: -30px;

	@include light-font();

	// Mobile
	@media (max-width: 767px) {
		margin-left: -40px;
	}

	a {
		font-size: 24px;

		&:hover {
			color: #FFF !important;
			background-color: $mainColor !important;
		}
	}
}

// sorting
.sort {
	font-size: 20px;
	font-weight: 100;

	padding-top: 10px;
	padding-bottom: 20px;

	display: inline-block;
	margin-right: 30px;

	// Mobile
	@media (max-width: 767px) {
		font-size: 14px;
	}

	.name {
		color: #999;
		@include light-italic-font();
	}

	.toggle {

		.type {
			padding: 7px 14px 3px 14px;
			cursor: pointer;
			border: 1px solid #FFF;

			display: inline-block;

			margin: 0 5px;

			&.active, &:hover {
				border: 1px solid $mainColor;
			}

			&.active {
				font-weight: 400;
			}
		}
	}
}

// more photos button
.more-photos {
	margin-top: 30px;

	padding-bottom: 50px;

	text-align: center;
}