.catalog-photo-preview, .name-photo-preview {
	margin-bottom: 20px;
	
	img {
		width: 100%;

		margin-bottom: 10px;
	}

	p {
		display: inline-block;
	}

	p.name {
		font-size: 20px;
		width: 50%;
	}

	p.author-name {
		font-size: 20px;
		width: 50%;
	}

	span.author {
		font-size: 20px;
		font-weight: 100;
	}

	span.buy {
		width: 49%;

		display: inline-block;

		text-align: right;
	}

	// Small
	&.small {

		p.name {
			font-size: 20px;
			width: 49%;
		}

		p.author-name {
			font-size: 24px;
			width: 100%;
		}

		span.buy {
			width: 49%;

			display: inline-block;

			text-align: right;

			font-size: 14px;
		}
	}
}

.names {
	margin-bottom: 30px;

	p.letter {
		font-weight: bold;
		font-size: 20px;
		margin-top: 20px;
	}

	a.author {
		display: block
	}
}

.name {

	h1.name-photos {
		font-size: 30px;
		margin-top: 20px;
	}

	p.camera {

	}

	p.camera-tools {
		color: #999;
		font-weight: 100;
		margin-top: -10px;
	}
}