footer {
	background: $mainColor;

	font-size: 16px;

	padding: 30px 0;

	.main-pages {

		a {
			color: #FFF;
			@include medium-font();
			@extend .no-wrap;

			margin-right: 20px;
			letter-spacing: 1px;

			opacity: .8;
		}
	}

	.other-pages {
		margin-top: 10px;

		a {
			color: #FFF;
			@include light-font();
			@extend .no-wrap;

			margin-right: 20px;
			letter-spacing: 1px;

			opacity: .6;
		}
	}

	a:hover {
		color: #FFF !important;
		opacity: 1 !important;
	}

	hr {
		opacity: .4;
	}

	.copyright {
		color: #FFF;
		@include light-font();

		opacity: .6;

		margin-top: 5px;
	}

	.adult {

		img {
			width: 30px;
		}
	}

	.social-icons {

		// Mobile
		@media (max-width: 767px) {
			margin-top: 20px;
		}
		
		a {
			color: #FFF;
		}
	}
}