.phone-search-box {
	width: 100%;
	height: 65px;

	background: #000;

	position: fixed;
	z-index: 8;

	top: 0;

	display: none;

	&.show {
		display: block;
	}

	input[type="text"] {
		width: 100%;

		border: none;

		background: #000;
		color: #FFF;

		@include light-font();
		font-size: 24px;

		margin-top: 15px;
	}

	.liga {
		margin-top: 10px;
	}

	p.liga {
		color: #FFF;
		margin-top: 20px;
	}
}

header {
	background: rgba(255, 255, 255, .97);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3);

	@include light-font();
	font-size: 24px;

	width: 100%;
	height: 65px;

	position: fixed;
	z-index: 7;

	top: 0;

	.logo {
		@include bold-font();
		font-size: 36px;

		margin-top: 10px;

		// Desktop medium
		@media (min-width: 992px) and (max-width: 1199px) {
			font-size: 26px;

			margin-top: 14px;
		}

		img {
			height: 28px;
			margin-top: -5px;
		}
	}
	.small-logo {
		top: 0;
		position: relative;
	}

	.social-icons {
		margin-top: 20px;
		font-size: 14px;
	}

	@mixin basket-sign-up() {
		font-size: 24px;
		margin-top: 20px;

		// Desktop medium
		@media (min-width: 992px) and (max-width: 1199px) {
			font-size: 16px;
			margin-top: 24px;
		}
	}

	.basket {
		@include basket-sign-up();

		sup {
			color: #FFF;
			background: $mainColor;

			padding: 4px 4px 0 4px;

			font-size: 12px;

			&.mobile-count {
				position: absolute;
				padding-top: 10px;
				height: 18px;
				margin-left: 80px;
			}
		}

		img {
			height: 28px;
			margin-top: -8px;
		}
	}

	.sign-up {
		@include basket-sign-up();

		a {
			margin-right: 15px;

			&.liga {
				margin-top: -25px;
				display: inline-block;
			}
		}
	}

	.search {
		margin-top: 20px;

		input[type="text"],
		input[type="search"] {
			width: 100%;

			background: none;

			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid $mainColor;

			padding: 0;

			// Desktop medium
			@media (min-width: 992px) and (max-width: 1199px) {
				font-size: 16px;
			}
		}

		a {
			&.liga {
				margin-top: -25px;
				display: inline-block;
			}
		}
	}
}