.info-page-navigation {
	margin-top: 30px;

	p {
		@include medium-font();
	}

	.main-pages, .other-pages {

		a {
			display: block;

			font-size: 18px;
			@include medium-font();

			margin: 3px 0;
			padding: 3px 7px;
			padding-bottom: 0;

			&.active, &:hover {
				background: $black;
				color: #FFF;

				padding: 3px 7px;
				padding-bottom: 0;
				
				margin: 3px 0;
				margin-left: -3px;

				line-height: auto;
			}
		}
	}

	.other-pages {
		margin-top: 20px;
	}
}

.info-page-description {

}