.item-card {

	.item-photo {

	}

	.item-info {

		p.name {
			font-size: 36px;
			font-weight: 400px;

			line-height: 40px;

			margin-top: -8px;

			// Tablet
			@media (min-width: 768px) and (max-width: 991px) {
				margin-top: 20px;
			}

			// Mobile
			@media (max-width: 767px) {
				margin-top: 10px;
			}
		}

		p.author {
			font-size: 20px;
			@include light-font();

			color: #999;
		}

		p.size {
			margin-top: 20px;

			font-size: 14px;
			@include light-font();
		}

		p.price {
			font-size: 36px;
			@include heavy-font();
		}

		span.fast-buy {
			margin-left: 10px;
		}

		.add-to-basket-or-buy {
			margin: 10px 0 20px 0;
		}

		.like {
			display: inline-block;

			margin-top: 20px;
		}
		.like-block {
			padding: 10px;
			border: 1px solid #444;

			display: none;

			transition: .7s;

			&.show {
				display: block;
				transition: .7s;
			}

			p {
				font-size: 12px;
			}
		}

		.all-right-description {
			font-size: 14px;
			font-weight: 100;
		}
	}
}

.other-author-photos {
	font-size: 38px;
	font-weight: bold;

	// Mobile
	@media (max-width: 767px) {
		font-size: 30px;
	}
}

.new-photos {
	font-size: 36px;
}

.you-might-also-like {
	font-size: 38px;
	font-weight: bold;

	// Mobile
	@media (max-width: 767px) {
		font-size: 24px;
	}
}