.main-page-categories {

	// Desktop
	@media (min-width: 992px) {
		
		.row {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 50px;
			}
		}

		h2 {
			font-size: 36px;
			
			margin-top: 50px;
		}

		.category-name {

			a {
				font-size: 36px;
				margin-top: 20px;

				position: relative;

				display: block;
			}
		}

		.photo-stream {
			$height: 110px;

			overflow: hidden;

			height: $height;

			.wrap {

				width: 99999px;

				img {
					width: auto;
					height: $height;

					margin-right: 10px;
				}
			}
		}
	}

	// Mobile & Tablet
	@media (max-width: 991px) {
		text-align: center;

		h2 {
			margin-bottom: 20px;
		}

		a {
			display: block;

			font-size: 21px;

			padding: 10px 0;

			border-top: 1px solid $mainColor;
			border-bottom: 1px solid $mainColor;

			margin-top: -1px;
		}
	}

}