p.dublicate-email {
	margin-top: 30px;
	color: #999;
}

.info-table {
	margin-top: 20px;

	font-size: 20px;

	.left-side {
		color: #999;
	}
}

textarea {
	width: 100%;
	height: 100px;
}

.thanks-page {
	height: 400px;

	.thanks {
		margin-top: 100px;
		margin-bottom: 30px;
	}
}

.left-caption {
	margin-top: 10px;
}

.photograph-photos {

	.row {
		border-bottom: 1px solid $black;
		padding-bottom: 20px;
	}
}

.sub-total {
	color: #000;

	margin-top: 20px;

	b {
		color: #000;
	}
}

.total {
	font-size: 30px;
}

.payments {
	font-size: 20px;

	label {
		margin-top: 0;
	}
}