.profile-label {
	margin-top: -30px;
	margin-left: -4px;
	margin-bottom: 0;
}

.profile-left-side {
	margin-top: -30px;
}

.profile-form {

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		font-size: 20px;

		padding: 10px 10px 5px 10px;

		margin: 10px 0;

		width: 100%;
	}

	.button {
		font-size: 26px;

		margin-top: 20px;
		margin-bottom: 30px;

		width: 100%;
	}

	.soc-auth {

		span {
			display: inline-block;
			margin: 0 10px;

			font-size: 48px;

			margin-bottom: 30px;
		}
	}

}

.profile-favorites {

	.row {
		margin-bottom: 20px;
	}

	h3 {
		font-size: 24px;
		margin-top: 0;

		// Mobile
		@media (max-width: 767px) {
			margin-top: 20px;
		}
	}

	p.author {
		@include light-font();
		color: #999;
	}

	p.price {
		@include bold-font();
		font-size: 30px;
	}
}

.profile-order {

	.order-header {
		border-bottom: 1px solid $black;

		padding-bottom: 10px;
		// margin-bottom: 5px;
	}

	.order-history-line {
		font-size: 20px;

		padding: 10px 0;

		cursor: pointer;

		// Mobile
		@media (max-width: 767px) {
			font-size: 12px;
		}

		&:nth-child(odd) {
			background: #F2F2F2;
		}

		&:hover {
			color: #FFF;
			background: $black;
		}

		&.active {
			color: #FFF;
			background: $black;

			.order-info {
				display: block;
			}
		}

		.order-info {
			display: none;

			border-top: 1px solid #FFF;

			margin-top: 40px;

			padding-top: 20px;
			padding-bottom: 30px;

			padding-left: 10px;
			padding-right: 10px;

			.row {
				margin-bottom: 10px;
			}

			p.author {
				@include light-font();
				font-size: 14px;
			}
		}
	}
}