.sign-in-up-form {

	input[type="email"],
	input[type="password"] {
		font-size: 26px;

		padding: 10px 10px 5px 10px;

		text-align: center;

		margin: 20px 0;

		width: 100%;
	}

	.button {
		font-size: 26px;
		
		margin-top: 20px;
		margin-bottom: 30px;

		width: 100%;
	}

	.soc-auth {

		span {
			display: inline-block;
			margin: 0 10px;

			font-size: 48px;

			margin-bottom: 30px;
		}
	}

}