.top-image {
	overflow: hidden;

	margin-top: -100px;

	&:hover {
		.to-left, .to-right {
			opacity: .8;
		}
	}

	.carousel {
		width: 100%;

		.wrap {
			width: 100%;
			position: relative;

			.slide {
				float: left;
				opacity: 0;

				position: absolute;

				left: 0;
				top: 0;

				&:first-child {
					opacity: 1;
				}
			}
		}
	}

	.to-left, .to-right {
		width: 40px;
		height: 90px;

		position: absolute;
		z-index: 9;

		background: #FFF;

		opacity: .3;

		cursor: pointer;

		padding-top: 15px;

		font-size: 40px;
		color: #000;

		display: none;

		&:hover {
			opacity: 1;
		}

		// Desktop large
		@media (min-width: 1200px) {
			top: 290px;
		}
		
		// Desktop medium
		@media (min-width: 992px) and (max-width: 1199px) {
			top: 240px;
		}

		// Tablet
		@media (min-width: 768px) and (max-width: 991px) {
			top: 200px;
		}
		
		// Mobile
		@media (max-width: 767px) {
			top: 120px;
		}
	}

	.to-left {
		left: 25px;

		// Tablet
		@media (min-width: 768px) and (max-width: 991px) {
			display: none;
		}
		
		// Mobile
		@media (max-width: 767px) {
			display: none;
		}
	}

	.to-right {
		right: 25px;
	}

	&.on-info-page {
		// Desktop large
		@media (min-width: 1200px) {
			height: 400px;
			background-size: 100% auto !important;
			background-attachment: fixed !important;
		}
		
		// Desktop medium
		@media (min-width: 992px) and (max-width: 1199px) {
			height: 400px;
			background-size: 100% auto !important;
			background-attachment: fixed !important;
		}

		// Tablet
		@media (min-width: 768px) and (max-width: 991px) {
			height: 300px;
			background-size: 130% auto !important;
		}
		
		// Mobile
		@media (max-width: 767px) {
			height: 300px;
			background-size: 150% auto !important;
		}
	}
	
	// img not show
	// img src insert to `.top-image`
	img {
		// display: none;
	}
	
	// use on home page
	.container {
		display: none;
		position: fixed;
		// position: absolute;

		left: 10px;

		z-index: 1;

		&:first-child {
			display: block;
		}

		// Desktop large
		@media (min-width: 1200px) {
			top: 310px;
		}
		
		// Desktop medium
		@media (min-width: 992px) and (max-width: 1199px) {
			top: 260px;
		}

		// Tablet
		@media (min-width: 768px) and (max-width: 991px) {
			top: 120px;
		}
		
		// Mobile
		@media (max-width: 767px) {
			top: 100px;
		}

		.photo-and-author-name {
			background: #FFF;
			display: inline-block;

			// Mobile
			@media (max-width: 767px) {
				background: none;
			}
		}

		p.name {
			font-size: 24px;
			@include bold-font();

			// background: #FFF;
			padding: 5px 10px 0 10px;

			display: inline-block;
			
			// Mobile
			@media (max-width: 767px) {
				display: none;
			}
		}

		p.author {
			font-size: 20px;
			@include light-font();

			// background: #FFF;
			padding: 5px 10px 0 10px;

			display: inline-block;

			margin-top: -10px;
			
			// Mobile
			@media (max-width: 767px) {
				display: none;
			}
		}

		.button {
			display: inline-block;
			// margin-top: -10px;

			width: 100%;

			text-align: center;
		}
	}
	
	// page caption on info pages
	.caption {
		font-size: 96px;
		@include bold-font();

		color: #FFF;
	
		text-align: center;

		margin-top: 160px;

		// Tablet
		@media (min-width: 768px) and (max-width: 991px) {
			font-size: 56px;
		}
		
		// Mobile
		@media (max-width: 767px) {
			font-size: 36px;
		}
	}

	// Desktop large
	@media (min-width: 1200px) {
		height: 450px;
		background-size: 100% auto !important;
	}
	
	// Desktop medium
	@media (min-width: 992px) and (max-width: 1199px) {
		height: 400px;
		background-size: 100% auto !important;
	}

	// Tablet
	@media (min-width: 768px) and (max-width: 991px) {
		height: 300px;
		background-size: 130% auto !important;
	}
	
	// Mobile
	@media (max-width: 767px) {
		height: 200px;
		background-size: 150% auto !important;
	}
}