html {

}

body {
	@include main-font();

	color: $typoBlack;
	background: #FFF;

	padding-top: 100px;
}

* {
	outline: none;
}

// Images
img {
	width: 100%;
}

// Links
@mixin links() {
	color: $linkColor;
	text-decoration: none;

	&:hover {
		color: lighten($linkColor, 10%);
	}

	img:hover {
		opacity: .95;
	}
}

a, a:hover, a:active, a:visited {
	@include links();

	outline: none !important;
}

// Forms
input[type="text"],
input[type="search"],
input[type="password"] {
	outline: none;
}

::-webkit-input-placeholder {
   color: $gray;
}

:-moz-placeholder { /* Firefox 18- */
   color: $gray;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $gray;
}

:-ms-input-placeholder {
   color: $gray;
}

.page-top-position {
	margin-top: 100px;
}

// Buttons
.button {
	padding: 10px 20px 5px 20px;
	border: 1px solid $mainColor;

	cursor: pointer;

	white-space: nowrap;

	&:hover {
		color: #FFF;
		background: $mainColor;
	}

	&.more {
		font-size: 24px;
	}

	&.black {
		color: #FFF;
		background: $mainColor;

		&:hover {
			background: lighten($mainColor, 10%) !important;
			border: 1px solid lighten($mainColor, 10%) !important;
		}
	}
	
	&.white {
		color: $mainColor;
		background: #FFF;

		&:hover {
			color: #FFF;
			background: lighten($mainColor, 10%) !important;
			border: 1px solid lighten($mainColor, 10%) !important;
		}
	}

	&.item-card-buy {
		font-size: 18px;
	}
}

.delete-button {
	@extend .liga;

	color: $gray;

	cursor: pointer;

	&:hover {
		color: $black;
	}
}

.error {
	color: $red;
}