// black color
$black: #000;
$gray: #999;

// I not use a true black color for texts
// http://ianstormtaylor.com/design-tip-never-use-black/
$typoBlack: #232a2e;

// main color fo ui elements
$mainColor: $black;

// links
$linkColor: $typoBlack;
$linkColorHover: #323b3f;

$red: red;