// Gill Sans
@font-face {
	font-family: 'GillSansMTPro-Light';
	src: url('fonts/gill-sans/GillSansMTPro-Light.eot');
	src: url('fonts/gill-sans/GillSansMTPro-Light.eot?#iefix') format("embedded-opentype"), 
	url('fonts/gill-sans/GillSansMTPro-Light.woff') format("woff"), 
	url('fonts/gill-sans/GillSansMTPro-Light.ttf') format("truetype"), 
	url('fonts/gill-sans/GillSansMTPro-Light.svg') format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GillSansMTPro-LightItalic';
	src: url('fonts/gill-sans/GillSansMTPro-LightItalic.eot');
	src: url('fonts/gill-sans/GillSansMTPro-LightItalic.eot?#iefix') format("embedded-opentype"), 
	url('fonts/gill-sans/GillSansMTPro-LightItalic.woff') format("woff"), 
	url('fonts/gill-sans/GillSansMTPro-LightItalic.ttf') format("truetype"), 
	url('fonts/gill-sans/GillSansMTPro-LightItalic.svg') format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GillSansMTPro-Medium';
	src: url('fonts/gill-sans/GillSansMTPro-Medium.eot');
	src: url('fonts/gill-sans/GillSansMTPro-Medium.eot?#iefix') format("embedded-opentype"), 
	url('fonts/gill-sans/GillSansMTPro-Medium.woff') format("woff"), 
	url('fonts/gill-sans/GillSansMTPro-Medium.ttf') format("truetype"), 
	url('fonts/gill-sans/GillSansMTPro-Medium.svg') format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GillSansMTPro-Bold';
	src: url('fonts/gill-sans/GillSansMTPro-Bold.eot');
	src: url('fonts/gill-sans/GillSansMTPro-Bold.eot?#iefix') format("embedded-opentype"), 
	url('fonts/gill-sans/GillSansMTPro-Bold.woff') format("woff"), 
	url('fonts/gill-sans/GillSansMTPro-Bold.ttf') format("truetype"), 
	url('fonts/gill-sans/GillSansMTPro-Bold.svg') format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GillSansMTPro-Heavy';
	src: url('fonts/gill-sans/GillSansMTPro-Heavy.eot');
	src: url('fonts/gill-sans/GillSansMTPro-Heavy.eot?#iefix') format("embedded-opentype"), 
	url('fonts/gill-sans/GillSansMTPro-Heavy.woff') format("woff"), 
	url('fonts/gill-sans/GillSansMTPro-Heavy.ttf') format("truetype"), 
	url('fonts/gill-sans/GillSansMTPro-Heavy.svg') format("svg");
	font-weight: normal;
	font-style: normal;
}

@mixin light-font() {
	font-family: 'GillSansMTPro-Light';
}

@mixin light-italic-font() {
	font-family: 'GillSansMTPro-LightItalic';
}

@mixin medium-font() {
	font-family: 'GillSansMTPro-Medium';
}

@mixin bold-font() {
	font-family: 'GillSansMTPro-Bold';
}

@mixin heavy-font() {
	font-family: 'GillSansMTPro-Heavy';
}

@mixin main-font() {
	@include medium-font();
}

h1 {
	@include heavy-font();
	font-size: 72px;

	&.margin-top-fix {
		margin-top: -20px;
	}
}

h2 {
	@include bold-font();
	font-size: 21px;
}

h3 {
	@include medium-font();
	font-size: 36px;
}

p {
	font-size: 16px;
	// @include light-font();
	@include medium-font();
}

// Web Symbols Font
// http://www.justbenice.ru/studio/websymbols/
@font-face {
	font-family: 'liga';
	src: url('fonts/symbols/websymbolsligaregular.eot');
	src: url('fonts/symbols/websymbolsligaregular.eot?#iefix') format("embedded-opentype"), 
	url('fonts/symbols/websymbolsligaregular.woff') format("woff"), 
	url('fonts/symbols/websymbolsligaregular.ttf') format("truetype"), 
	url('fonts/symbols/websymbolsligaregular.svg#WebSymbolsRegular') format("svg");
}

.liga {
	font-family: 'liga';
}