<!-- build:js(.) scripts/vendor.js -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>

<script src="scripts/vendor/fastclick.js"></script>
<script src="scripts/vendor/jquery.slides.min.js"></script>
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/main.js"></script>
<script src="scripts/header.js"></script>
<script src="scripts/touch-slider.js"></script>
<script src="scripts/top-image.js"></script>
<script src="scripts/parallax.js"></script>
<script src="scripts/profile.js"></script>
<script src="scripts/item-card.js"></script>
<!-- endbuild -->