<div class="accept-footer">
	<div class="container">
		<div class="row">
			
			<!-- we-accept-icons -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 we-accept-icons">
				We accept
				<img src="images/we-accept.png" alt="We accept">
			</div><!-- we-accept-icons -->
	
		</div><!-- row -->
	</div><!-- container -->

</div><!-- accept-footer -->

