<!-- container -->
<div class="container basket">

	<!-- row page name -->
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1 class="margin-top-fix category-name basket-label">
				Basket
			</h1>
		</div>
	</div><!-- row page name -->

	<!-- row line -->
	<div class="row">
		<!-- photo -->
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<img src="images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" 
				alt="Photo Name">
		</div><!-- photo -->
		
		<!-- name and description -->
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
			<h3>
				<a href="item-card.html">
					The Mountains In The China
				</a>
			</h3>
			<p class="author">
				by Julia Potapova
			</p>
		</div><!-- name and description -->
		
		<!-- size -->
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<p class="size">
				4000x3000px
			</p>
		</div><!-- size -->
		
		<!-- price -->
		<div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
			<p class="price">
				$10
			</p>
		</div><!-- price -->
		
		<!-- delete -->
		<div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
			<div class="delete-button">
				&#204;
			</div>
		</div><!-- delete -->
	</div><!-- row line -->
	
	<!-- row line -->
	<div class="row">
		<!-- photo -->
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<img src="images/photos/asia-city-lights-1696-899x550.jpg" 
				alt="Photo Name">
		</div><!-- photo -->
		
		<!-- name and description -->
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
			<h3>
				<a href="item-card.html">
					The Mountains In The China
				</a>
			</h3>
			<p class="author">
				by Julia Potapova
			</p>
		</div><!-- name and description -->
		
		<!-- size -->
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<p class="size">
				4000x3000px
			</p>
		</div><!-- size -->
		
		<!-- price -->
		<div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
			<p class="price">
				$10
			</p>
		</div><!-- price -->
		
		<!-- delete -->
		<div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
			<div class="delete-button">
				&#204;
			</div>
		</div><!-- delete -->
	</div><!-- row line -->

	<!-- row total price -->
	<div class="row total-price">
		<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 col-md-offset-8 col-lg-offset-8">
			<p>
				Total
			</p>
		</div>
		<div class="col-xs-8 col-sm-9 col-md-2 col-lg-2">
			<p>
				$20
			</p>
		</div>
	</div><!-- row total price -->

	<!-- row order -->
	<div class="row total-price">
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-md-offset-9 col-lg-offset-9 text-center">
			<a href="order.html">
				<div class="button black">
					Order
				</div>
			</a>
		</div>
	</div><!-- row order -->

</div><!-- container -->