<div class="catalog-photo-preview">
	
	<a href="item-card.html">
		<img src="images/photos/airplane-flight-travelling-3486-825x550.jpg" alt="Photo Name">

		<p class="name">
			The City
			<span class="author">
				Julia Potapova
			</span>
		</p>
		
		<span class="buy">
			<span class="button">
				Buy for $10
			</span>
		</span>
	</a>	

</div>