<div class="catalog-photo-preview small">
	
	<a href="item-card.html">
		<img src="http://localhost:9001/images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" alt="Photo Name">

		<p class="name">
			The City
		</p>
		
		<span class="buy">
			<span class="button">
				Buy for $10
			</span>
		</span>
	</a>	

</div>