<div class="container">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- category-name -->
			<h1 class="margin-top-fix category-name">
				Architecture
				<div class="choose-category dropdown">
					<div class="dropdown-toggle" 
						data-toggle="dropdown" aria-expanded="false">
						Choose category
						<span class="liga">
							&#0091;
						</span>
					</div>
					<ul class="dropdown-menu choose-category-dropdown" role="menu">
					    <li><a href="catalog.html">Architecture</a></li>
						<li><a href="catalog.html">Art</a></li>
						<li><a href="catalog.html">Cities</a></li>
						<li><a href="catalog.html">Nu</a></li>
						<li><a href="catalog.html">Black & White</a></li>
						<li><a href="catalog.html">Nature</a></li>
						<li><a href="catalog.html">Landscapes</a></li>
						<li><a href="catalog.html">Fashion</a></li>
						<li><a href="catalog.html">Child</a></li>
					</ul>
				</div>
			</h1><!-- category-name -->
		</div>
		
	</div><!-- row -->
</div><!-- container -->