	<meta name="msapplication-square70x70logo" content="assets/images/favicons/windows-tile-70x70.png">
	<meta name="msapplication-square150x150logo" content="assets/images/favicons/windows-tile-150x150.png">
	<meta name="msapplication-square310x310logo" content="assets/images/favicons/windows-tile-310x310.png">
	<meta name="msapplication-TileImage" content="assets/images/favicons/windows-tile-144x144.png">
	<meta name="msapplication-TileColor" content="convert: NoDecodeDelegateForThisImageFormat `PNG&apos; @ error/constitute.c/ReadImage/501.
convert: NoImagesDefined `txt:-&apos; @ error/convert.c/ConvertImageCommand/3210.">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon.png">
	<link rel="icon" sizes="228x228" href="assets/images/favicons/coast-icon-228x228.png">
	<link rel="shortcut icon" href="assets/images/favicons/favicon.ico">
	<link rel="icon" type="image/png" sizes="64x64" href="assets/images/favicons/favicon.png">
