<footer>
	<div class="container">
		<div class="row">
			
			<!-- links -->
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				{{> _nav-links }}
			</div><!-- links -->

			<!-- social icons -->
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 social-icons">
				<a href="#" class="liga">
					&#228;
				</a>
				<a href="#" class="liga">
					&#235;
				</a>
				<a href="#" class="liga">
					&#234;
				</a>
			</div><!-- social icons -->

		</div><!-- row -->
	</div><!-- container -->

	<hr>

	<div class="container">
		<div class="row">
			
			<!-- copyright -->
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 copyright">
				Copyright ©
			</div><!-- copyright -->

			<!-- 16 -->
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right adult">
				<img src="svg/16w.svg" alt="16+">
			</div><!-- 16 -->

		</div><!-- row -->
	</div><!-- container -->

</footer><!-- footer -->