<div class="phone-search-box">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-sm-8">
				<input type="text" placeholder="Search">
			</div>
			<div class="col-xs-2 col-sm-2">
				<input type="button" class="liga button black" value="&#0035;">
			</div>
			<div class="col-xs-2 col-sm-2 text-right">
				<p class="liga js-close-searchbox">
					&#206;
				</p>
			</div>
		</div>
	</div>
</div>

<header>
	<div class="container">
		<div class="row">

			<!-- logo -->
			<div class="col-xs-2 col-sm-2 col-md-4 col-lg-4 logo">
				<a href="/">
					<!-- desktop -->
					<span class="hidden-xs hidden-sm">
						Art Photo Obsession
					</span><!-- desktop -->
					<!-- mobile -->
					<span class="hidden-md hidden-lg small-logo">
						<img src="svg/small-logo.svg" alt="">
					</span><!-- mobile -->
				</a>
			</div><!-- logo -->

			<!-- social-icons -->
			<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 social-icons">
				<a href="#" class="liga">
					&#228;
				</a>
				<a href="#" class="liga">
					&#235;
				</a>
				<a href="#" class="liga">
					&#234;
				</a>
			</div><!-- social-icons -->

			<!-- basket -->
			<div class="col-xs-2 col-sm-3 col-md-2 col-lg-2 basket">
				<a href="basket.html">
					<!-- desktop -->
					<span class="hidden-xs hidden-sm">
						Basket
						<sup>
							3
						</sup>
					</span><!-- desktop -->
					<!-- mobile -->
					<span class="hidden-md hidden-lg">
						<img src="images/basket.svg" alt="">
						<!-- <sup class="mobile-count">
							3
						</sup> -->
					</span><!-- mobile -->
				</a>
			</div><!-- basket -->

			<!-- sign-up -->
			<div class="col-xs-2 col-sm-2 col-md-1 col-lg-2 sign-up">
				<a href="sign-up.html">
					<!-- desktop -->
					<span class="hidden-xs hidden-sm hidden-md">
						Sign up
					</span><!-- desktop -->
					<!-- mobile -->
					<span class="hidden-lg">
						<span class="liga">
							&#0046;
						</span>
					</span><!-- mobile -->
				</a>
				<a href="auth.html">
					<!-- desktop -->
					<span class="hidden-xs hidden-sm hidden-md">
						Login
					</span><!-- desktop -->
					<!-- mobile -->
				</a>
			</div><!-- sign-up -->

			<!-- search -->
			<div class="col-xs-2 col-sm-2 col-md-3 col-lg-2 search">
				<!-- desktop -->
				<span class="hidden-xs hidden-sm">
					<form action="" class="hidden-xs hidden-sm">
						<input type="search" placeholder="Search" />
					</form>
				</span><!-- desktop -->
				<!-- mobile -->
				<span class="hidden-md hidden-lg">
					<a href="#" class="liga js-show-searchbox">
						&#0035;
					</a>
				</span><!-- mobile -->
			</div><!-- search -->

		</div><!-- row -->
	</div><!-- container -->
</header><!-- header -->
