<div class="item-card">
	<div class="container">

		<div class="row">

			<!-- photo -->
			<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 item-photo">
				<img src="images/photos/boat-fishing-sea-3521-833x550.jpg" alt="Photo Name">
			</div><!-- photo -->

			<!-- info -->
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 item-info">

				<p class="name">
					The Mountains In The China
				</p>

				<p class="author">
					by Julia Potapova
				</p>

				<hr />

				<div class="clearfix">
					<div class="float half">
						<p class="size">
							Size: 4000x3000px
						</p>
					</div>
					<div class="float half text-right">
						<p class="price">
							$10
						</p>
					</div>
				</div>
				<div class="add-to-basket-or-buy">
					<a href="basket.html">
						<span class="button item-card-buy black">
							Add to basket
						</span>
					</a>
					<a href="order.html">
						<span class="button item-card-buy black fast-buy">
							Fast buy
						</span>
					</a>
				</div>

				<hr />

				<div class="clearfix">
					<div class="float half">
						<p class="size">
							All rights on photo
						</p>
					</div>
					<div class="float half text-right">
						<p class="price">
							$100
						</p>
					</div>
				</div>
				<div class="add-to-basket-or-buy">
					<a href="basket.html">
						<span class="button item-card-buy black">
							Add to basket
						</span>
					</a>
					<a href="order.html">
						<span class="button item-card-buy black fast-buy">
							Fast buy
						</span>
					</a>
				</div>

				<hr />

				<span class="button">
					Add to my library
				</span>
				<br />
				<span class="button black like">
					Like
				</span>
				<span class="like-block">
					<p>
						Выбирите соц сеть:
					</p>

					<!-- Put this div tag to the place, where the Like block will be -->
					<div id="vk_like"></div>
					<script type="text/javascript">
					VK.Widgets.Like("vk_like", {type: "button"});
					</script>

					<br /><br />

					<div class="fb-like" data-href="https://andreykeske.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

					<br /><br />

					<a href="https://twitter.com/share" class="twitter-share-button" data-via="superkeske">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</span>

				<hr />

				<p class="all-right-description">
					If you are buy all right on photo you can...
				</p>

			</div><!-- info -->


		</div><!-- row -->
	</div><!-- container -->
</div><!-- item-card -->
