<div class="main-page-categories">
	
	<!-- desktop -->
	<div class="visible-md visible-lg container">

		<!-- row -->
		<div class="row">

			<div class="col-md-9 col-lg-9 col-md-offset-3 col-lg-offset-3">
				<h2>
					Categories
				</h2>
			</div>

		</div><!-- row -->
		
		<!-- one category line -->
		<div class="row">

			<!-- left side -->
			<div class="col-md-3 col-lg-3 text-right category-name">
				<a href="catalog.html">
					Skyline
				</a>
			</div><!-- left side -->

			<!-- left side -->
			<div class="col-md-9 col-lg-9">
				<div class="photo-stream">
					<div class="wrap">
						<a href="item-card.html">
							<img src="images/photos/airplane-flight-travelling-3486-825x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/animal-drinking-elk-3523-733x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/boat-fishing-sea-3521-833x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/coffee-cup-3514-826x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/dog-garden-pet-3512-825x550.jpg" 
								alt="Photo Name">
						</a>
					</div>
				</div>
			</div><!-- left side -->

		</div><!-- one category line -->

		<!-- one category line -->
		<div class="row">

			<!-- left side -->
			<div class="col-md-3 col-lg-3 text-right category-name">
				<a href="catalog.html">
					NU
				</a>
			</div><!-- left side -->

			<!-- left side -->
			<div class="col-md-9 col-lg-9">
				<div class="photo-stream">
					<div class="wrap">
						<a href="item-card.html">
							<img src="images/photos/lake-pool-sea-3496-825x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/asia-city-lights-1696-899x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/animal-drinking-elk-3523-733x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/boat-fishing-sea-3521-833x550.jpg" 
								alt="Photo Name">
						</a>
					</div>
				</div>
			</div><!-- left side -->

		</div><!-- one category line -->
		
		<!-- one category line -->
		<div class="row">

			<!-- left side -->
			<div class="col-md-3 col-lg-3 text-right category-name">
				<a href="catalog.html">
					Black & White
				</a>
			</div><!-- left side -->

			<!-- left side -->
			<div class="col-md-9 col-lg-9">
				<div class="photo-stream">
					<div class="wrap">
						<a href="item-card.html">
							<img src="images/photos/coffee-cup-3514-826x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/dog-garden-pet-3512-825x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/airplane-flight-travelling-3486-825x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/animal-drinking-elk-3523-733x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/boat-fishing-sea-3521-833x550.jpg" 
								alt="Photo Name">
						</a>
					</div>
				</div>
			</div><!-- left side -->

		</div><!-- one category line -->

		<!-- one category line -->
		<div class="row">

			<!-- left side -->
			<div class="col-md-3 col-lg-3 text-right category-name">
				<a href="catalog.html">
					Nature
				</a>
			</div><!-- left side -->

			<!-- left side -->
			<div class="col-md-9 col-lg-9">
				<div class="photo-stream">
					<div class="wrap">
						<a href="item-card.html">
							<img src="images/photos/boat-fishing-sea-3521-833x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/asia-city-lights-1696-899x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/lake-pool-sea-3496-825x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/animal-drinking-elk-3523-733x550.jpg" 
								alt="Photo Name">
						</a>
					</div>
				</div>
			</div><!-- left side -->

		</div><!-- one category line -->

		<!-- one category line -->
		<div class="row">

			<!-- left side -->
			<div class="col-md-3 col-lg-3 text-right category-name">
				<a href="catalog.html">
					Cities
				</a>
			</div><!-- left side -->

			<!-- left side -->
			<div class="col-md-9 col-lg-9">
				<div class="photo-stream">
					<div class="wrap">
						<a href="item-card.html">
							<img src="images/photos/lake-pool-sea-3496-825x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/asia-city-lights-1696-899x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/animal-drinking-elk-3523-733x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/boat-fishing-sea-3521-833x550.jpg" 
								alt="Photo Name">
						</a>
					</div>
				</div>
			</div><!-- left side -->

		</div><!-- one category line -->

		<!-- one category line -->
		<div class="row">

			<!-- left side -->
			<div class="col-md-3 col-lg-3 text-right category-name">
				<a href="catalog.html">
					Art
				</a>
			</div><!-- left side -->

			<!-- left side -->
			<div class="col-md-9 col-lg-9">
				<div class="photo-stream">
					<div class="wrap">
						<a href="item-card.html">
							<img src="images/photos/animal-drinking-elk-3523-733x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/lake-pool-sea-3496-825x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/asia-city-lights-1696-899x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/boat-fishing-sea-3521-833x550.jpg" 
								alt="Photo Name">
						</a>
					</div>
				</div>
			</div><!-- left side -->

		</div><!-- one category line -->
		
		<!-- one category line -->
		<div class="row">

			<!-- left side -->
			<div class="col-md-3 col-lg-3 text-right category-name">
				<a href="catalog.html">
					Architecture
				</a>
			</div><!-- left side -->

			<!-- left side -->
			<div class="col-md-9 col-lg-9">
				<div class="photo-stream">
					<div class="wrap">
						<a href="item-card.html">
							<img src="images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/boat-fishing-sea-3521-833x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/asia-city-lights-1696-899x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/animal-drinking-elk-3523-733x550.jpg" 
								alt="Photo Name">
						</a>
						<a href="item-card.html">
							<img src="images/photos/coffee-cup-3514-826x550.jpg" 
								alt="Photo Name">
						</a>
					</div>
				</div>
			</div><!-- left side -->

		</div><!-- one category line -->

	</div><!-- desktop -->

	<!-- mobile & tablet -->
	<div class="visible-xs visible-sm">
		<h2>
			Categories
		</h2>

		<a href="catalog.html">
			Skyline
		</a>
		<a href="catalog.html">
			NU
		</a>
		<a href="catalog.html">
			Black & White
		</a>
		<a href="catalog.html">
			Nature
		</a>
		<a href="catalog.html">
			Cities
		</a>
		<a href="catalog.html">
			Art
		</a>
		<a href="catalog.html">
			Architecture
		</a>
	</div><!-- mobile & tablet -->

</div>