<div class="container">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2 class="new-photos">
				Names
			</h2>	
		</div>

	</div><!-- row -->

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{> _names-preview-1 }}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{> _names-preview-2 }}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{> _names-preview-3 }}
		</div>
	</div><!-- row -->
</div><!-- container -->
