<div class="name-photo-preview small">
	
	<a href="name.html">
		<img src="http://h.fastcompany.net/multisite_files/fastcompany/poster/2014/11/3038117-poster-p-1-stunning-photos-of-one-idealized-orbit-around-the-earth.jpg" alt="Photo Name">

		<p class="author-name">
			Josef Frank
		</p>
	</a>	

</div>