<div class="name-photo-preview small">
	
	<a href="name.html">
		<img src="http://img.gawkerassets.com/img/198haup5wt5g9jpg/original.jpg" alt="Photo Name">

		<p class="author-name">
			Mike Miller
		</p>
	</a>	

</div>