<!-- main-pages -->
<div class="main-pages">
	<a href="info-blank.html" class="active">About us</a>
	<a href="info-blank.html">How it works</a>
	<a href="info-blank.html">Payment & registration</a>
	<a href="info-blank.html">Art photo like the best present</a>
	<a href="contacts.html">Contacts</a>
	<a href="info-blank.html">Collaboration</a>
	<a href="info-blank.html">For photographers</a>
	<a href="info-blank.html">Press</a>
	<a href="info-blank.html">Photos in the interior</a>
</div><!-- main-pages -->

<!-- other-pages -->
<div class="other-pages">
	<a href="info-blank.html">Contract offer</a>
	<a href="info-blank.html">Acquisition of exclusive rights to pictures</a>
	<a href="info-blank.html">Feedback</a>
	<a href="info-blank.html">Site map</a>
	<a href="info-blank.html">Banking information</a>
</div><!-- other-pages -->


<!-- main-pages 
<div class="main-pages">
	<a href="about.html">About us</a>
	<a href="how-it-works.html">How it works</a>
	<a href="payment-and-registration.html">Payment & registration</a>
	<a href="art-photo-like-the-best-present.html">Art photo like the best present</a>
	<a href="contacts.html">Contacts</a>
	<a href="collaboration.html">Collaboration</a>
	<a href="for-photographers.html">For photographers</a>
	<a href="press.html">Press</a>
	<a href="photos-in-the-interior.html">Photos in the interior</a>
</div><!-- main-pages 

<!-- other-pages
<div class="other-pages">
	<a href="contract-offer.html">Contract offer</a>
	<a href="acquisition-of-exclusive-rights-to-pictures.html">Acquisition of exclusive rights to pictures</a>
	<a href="feedback.html">Feedback</a>
	<a href="site-map.html">Site map</a>
	<a href="banking-information.html">Banking information</a>
</div><!-- other-pages -->