<div class="container">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2 class="new-photos">
				New photos
			</h2>	
		</div>

	</div><!-- row -->

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{> _catalog-photo-preview-small-1 }}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{> _catalog-photo-preview-small-2 }}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{> _catalog-photo-preview-small-3 }}
		</div>
	</div><!-- row -->
</div><!-- container -->

<div class="more-photos">
	<span class="button more">
		More photos
	</span>
</div>