<div class="top-image parallax">
	
	<!-- carousel -->
	<div class="carousel">
		
		<!-- wrap -->
		<div class="wrap">

			<!-- slide -->
			<div class="slide">
				
				<img src="images/photos/asia-city-lights-1696-899x550.jpg" />

				<div class="container parallax-text">
					<div class="row">
						
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<div class="photo-and-author-name parallax-text">
								
								<a href="item-card.html">
									<p class="name">
										First image
									</p>
									<br />
									<p class="author">
										by Julia Potapova
									</p>
									<br />
									<div class="button black hidden-xs">
										Buy for $10
									</div>
								</a>
							</div>

						</div>
					</div><!-- row -->
				</div><!-- container -->


			</div><!-- slide -->

			<!-- slide -->
			<div class="slide">
				
				<img src="images/photos/dog-garden-pet-3512-825x550.jpg" />

				<div class="container parallax-text">
					<div class="row">
						
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<div class="photo-and-author-name parallax-text">
								
								<a href="item-card.html">
									<p class="name">
										Second image
									</p>
									<br />
									<p class="author">
										by Max Power
									</p>
									<br />
									<div class="button black black hidden-xs">
										Buy for $10
									</div>
								</a>
							</div>

						</div>
					</div><!-- row -->
				</div><!-- container -->


			</div><!-- slide -->

			<!-- slide -->
			<div class="slide">
				
				<img src="images/photos/lake-pool-sea-3496-825x550.jpg" />

				<div class="container parallax-text">
					<div class="row">
						
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<div class="photo-and-author-name parallax-text">
								
								<a href="item-card.html">
									<p class="name">
										Third image
									</p>
									<br />
									<p class="author">
										by Steve
									</p>
									<br />
									<div class="button black black hidden-xs">
										Buy for $10
									</div>
								</a>
							</div>

						</div>
					</div><!-- row -->
				</div><!-- container -->

			</div><!-- slide -->
			
		</div><!-- wrap -->

	</div><!-- carousel -->
	
	<div class="to-left liga">&#212;</div>
	<div class="to-right liga">&#215;</div>

</div>