<div class="top-image parallax">
	
	<!-- carousel -->
	<div class="carousel">
		
		<!-- slide -->
		<div class="slide">
			
			<img src="images/photos/animal-drinking-elk-3523-733x550.jpg" />

			<div class="container">
				<div class="row">
					
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="photo-and-author-name parallax-text">
							
							<a href="item-card.html">
								<p class="name">
									Animal Drinking Elk
								</p>
								<br />
								<p class="author">
									by Julia Potapova
								</p>
								<br />
								<div class="button black">
									Buy for $10
								</div>
							</a>
						</div>

					</div>
				</div><!-- row -->
			</div><!-- container -->


		</div><!-- slide -->

		<!-- slide -->
		<div class="slide">
			
			<img src="images/photos/asia-city-lights-1696-899x550.jpg" />

			<div class="container">
				<div class="row">
					
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="photo-and-author-name parallax-text">
							
							<a href="item-card.html">
								<p class="name">
									The Mountains In The China
								</p>
								<br />
								<p class="author">
									by Julia Potapova
								</p>
								<br />
								<div class="button black">
									Buy for $10
								</div>
							</a>
						</div>

					</div>
				</div><!-- row -->
			</div><!-- container -->

		</div><!-- slide -->

	</div><!-- carousel -->

</div>
