<!doctype html>
<html class="no-js">
  <head>

    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	{{> _header }}

	<!-- container -->
	<div class="container basket">

		<!-- row page name -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<h1 class="margin-top-fix category-name">
					Login
				</h1>
			</div>
		</div><!-- row page name -->

		<!-- row line -->
		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4
			col-sm-offset-3 col-md-offset-4 col-lg-offset-4 text-center sign-in-up-form">

				<form action="">

					<input type="email" placeholder="Email">
					<br />
					<input type="password" placeholder="Password">
					<br />
					<!--
					<div class="error">
						Some error here!
					</div>
					-->
					<input type="button" class="button black" value="Sign up">

				</form>

			</div><!-- col -->

		</div><!-- row -->

		<!-- row line -->
		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center sign-in-up-form">

				<h2>
					Use social networks for login
				</h2>

				<div class="soc-auth">
					<span class="liga">
						&#228;
					</span>
					<span class="liga">
						&#234;
					</span>
				</div>

				<a href="sign-up.html">
					Registration
				</a>
			</div><!-- col -->

		</div><!-- row -->

	</div><!-- container -->

	{{> _footer }}

	{{> scripts }}

</body>
</html>
