<!doctype html>
<html class="no-js">
  <head>
    
    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	{{> _header }}
	
	{{> _choose-category }}	
	
	<div class="container">
		<!-- sort -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sort">
				
				<!-- pupular or new -->
				<span class="name">
					Show:
				</span>
				<span class="toggle">
					<span class="type active">
						Popular
					</span>
					<span class="type">
						New Photos
					</span>
				</span><!-- pupular or new -->
				
				<br class="visible-xs" />
				<br class="visible-xs" />

				<!-- exclusive or not -->
				<span class="name">
					Sort by:
				</span>
				<span class="toggle">
					<span class="type active">
						Exclusive
					</span>
					<span class="type">
						No exclusive
					</span>
				</span><!-- exclusive or not -->

			</div>
		</div><!-- sort -->

		<div class="row">
			
			<!-- left side -->
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				{{> _catalog-photo-preview }}
				{{> _catalog-photo-preview_ }}
				{{> _catalog-photo-preview }}
			</div><!-- left side -->
	
			<!-- right side -->
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				{{> _catalog-photo-preview_ }}
				{{> _catalog-photo-preview }}
				{{> _catalog-photo-preview_ }}
			</div><!-- right side -->

		</div><!-- row -->
	</div><!-- page-top-position -->

	<div class="more-photos">
		<span class="button more">
			More photos
		</span>
	</div>
	
	{{> _accept-footer }}
	{{> _footer }}
	
	{{> scripts }}

</body>
</html>
