<!doctype html>
<html class="no-js">
  <head>
    
    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	{{> _header }}
	
	{{> _top-image-contacts }}

	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 info-page-navigation">
				{{> _nav-links }}
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 info-page-description">
				<h2>
					Moscow
				</h2>

				<h4>
					Address
				</h4>
				<p>
					16, Leo Tolstoy St., Moscow 119021, Russia
				</p>

				<h4>
					Reception
				</h4>
				<p>
					tel. +7 495 739-70-00, fax +7 495 739-70-70
				</p>

				<h4>
					Commercial Department
				</h4>
				<p>
					tel. +7 495 739-22-22 ext.1247, fax +7 495 739-23-32,
				</p>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 info-page-description">
				<!-- place for the map -->
			</div>

		</div><!-- row -->

	</div><!-- container -->	
	
	{{> _accept-footer }}
	{{> _footer }}
	
	{{> scripts }}

</body>
</html>
