<!doctype html>
<html class="no-js">
  <head>
    
    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	{{> _header }}
	
	{{> _selected-category }}	
	{{> _item-card }}
	
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2 class="other-author-photos">
					Other photos by Julia
				</h2>	
			</div>

		</div><!-- row -->

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{{> _catalog-photo-preview-small-1 }}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{{> _catalog-photo-preview-small-2 }}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{{> _catalog-photo-preview-small-3 }}
			</div>
		</div><!-- row -->

		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2 class="you-might-also-like">
					You might also like
				</h2>	
			</div>

		</div><!-- row -->

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{{> _catalog-photo-preview-small-3 }}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{{> _catalog-photo-preview-small-1 }}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{{> _catalog-photo-preview-small-2 }}
			</div>
		</div><!-- row -->
	</div><!-- container -->
	
	<div class="more-photos">
		<span class="button more">
			More photos
		</span>
	</div>
	
	{{> _accept-footer }}
	{{> _footer }}
	
	{{> scripts }}

</body>
</html>
