<!doctype html>
<html class="no-js">
  <head>
    
    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	{{> _header }}
	
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- category-name -->
				<h1 class="margin-top-fix category-name">
					Julie Doiron
				</h1><!-- category-name -->
			</div>
			
		</div><!-- row -->
	</div><!-- container -->	
	
	<div class="container name">

		<div class="row">
			
			<!-- left side -->
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Eric’s_Trip_2008.06.29_002.jpg/800px-Eric’s_Trip_2008.06.29_002.jpg">
			</div><!-- left side -->
	
			<!-- right side -->
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<h3>
					Bio
				</h3>
				<p>
					Doiron started playing guitar (later switching to bass) in Eric's Trip at the age of 18, having joined the band at the insistence of her then-boyfriend, Eric's Trip guitarist Rick White. Shortly before the band's break-up in 1996, she released a solo album under the name Broken Girl, which followed two previous 7" EPs ("Dog Love, Pt. 2" & "Nora") also released under that name. All of her subsequent material has been released under her own name. Although most of her solo material has been written and performed in English, she also released an album of French language material, Désormais.
				</p>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h2>
							Cameras
						</h2>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<p class="camera">
							Canon EOS 6D
						</p>
						<p class="camera-tools">
							EF24-105mm f/4L IS
						</p>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<p class="camera">
							Sony ILCE-7
						</p>
						<p class="camera-tools">
							FE 24-70mm F4 ZA
						</p>
					</div>
				</div><!-- row -->
				

			</div><!-- right side -->

		</div><!-- row -->

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class="name-photos">
					Photos of Julie Doiron
				</h1>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{{> _names-preview-1 }}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{{> _names-preview-2 }}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{{> _names-preview-3 }}
			</div>
		</div><!-- row -->
	</div><!-- page-top-position -->

	<div class="more-photos">
		<span class="button more">
			More photos
		</span>
	</div>

	<div class="modal show">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">
	        	Сообщение сайта
	        </h4>
	      </div>
	      <div class="modal-body">
	        <p>
	        	Внимание, портфолио автора содержит фотографии с 	обнаженной натурой.
	        </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="button white" data-dismiss="modal">
	        	Перейти не показывая НЮ
	        </button>
	        <button type="button" class="button black">
	        	Перейти и показать НЮ
	        </button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	{{> _accept-footer }}
	{{> _footer }}
	
	{{> scripts }}

</body>
</html>
