<!doctype html>
<html class="no-js">
  <head>

    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  {{> _header }}

	<!-- container -->
	<div class="container basket">
		<!-- row page name -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<h1 class="margin-top-fix category-name"> Order </h1>
				<h3>
					Items
				</h3>
				<div class="info-table row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right left-side">
						<a href="http://artphotoobsession.com/index.php?route=product/product&product_id=73">
							Happy Dog
						</a>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">$10</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right left-side">
							<a href="http://artphotoobsession.com/index.php?route=product/product&product_id=76">
								Paints
							</a>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">$16</div>
				</div>

				<div class="row">
						<section class="sub-total">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right left-side"><b>Sub-Total:</b></div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">$26</div>
						</section>

						<section class="total">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right left-side"><b>Total:</b></div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">$26</div>
								</div>
						</section>
			</div>
		</div>
		<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center sign-in-up-form">
			<input type="submit" class="button black" value="Finish">
			<a href="#" id="back"> Back </a><br><br>
			</div><!-- col -->
		</div><!-- row -->
	</div>

	{{> _footer }}

  {{> scripts }}

</body>
</html>
