<!doctype html>
<html class="no-js">
  <head>
    
    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  {{> _header }}
  
  <!-- container -->
  <div class="container basket thanks-page">

    <!-- row page name -->
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h1 class="category-name thanks">
          Thank you!
        </h1>

        <p>
          <a href="/">Home page</a>
        </p>

        <p>
          <a href="profile.html">My profile</a>
        </p>
      </div>

    </div><!-- row page name -->

  </div><!-- container -->
  
  {{> _footer }}
  
  {{> scripts }}

</body>
</html>
