<!doctype html>
<html class="no-js">
  <head>
    
    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  {{> _header }}
  
  <!-- container -->
  <div class="container basket">

    <!-- row page name -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h1 class="margin-top-fix category-name">
          Order
        </h1>

        <h3>
          You'll get photo on your email: user@mail.org
        </h3>
      </div>
    </div><!-- row page name -->

    <!-- row line -->
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center sign-in-up-form">
        
        <p class="dublicate-email">
          Dublicate photo for another email? (optional)  
        </p>

        <form action="">
          
          <input type="email" placeholder="Email">
          <br />
          <!--
          <div class="error">
            Some error here!
          </div>
          -->
          <input type="button" class="button black" value="Continue">

        </form>

        <a href="order.html">
          Back
        </a>

      </div><!-- col -->
      
    </div><!-- row -->

  </div><!-- container -->
  
  {{> _footer }}
  
  {{> scripts }}

</body>
</html>
