<!doctype html>
<html class="no-js">
  <head>
    
    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  {{> _header }}
  
  <!-- container -->
  <div class="container basket">

    <!-- row page name -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h1 class="margin-top-fix category-name">
          Order
        </h1>

        <h3>
          Buyer
        </h3>

        <div class="info-table row">
          
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right left-side">
            Name
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
            Andrey Keske
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right left-side">
            Phone
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
            +7 912 12 34 567
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right left-side">
            Email
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
            hello@andreykeske.com
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right left-side">
            Dublicate email
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
            hi@andreykeske.com
          </div>
          
        </div>
        
        <br />

        <h3>
          Payments
        </h3>

        <div class="info-table row">
          
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center">
            Visa, Master Card, American Express
          </div>

        </div>

        <br />
        
        <h3>
          Description
        </h3>

        <div class="info-table row">
          
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center">
            <textarea name="" id="" cols="30" rows="10" placeholder="Have any question?"></textarea>
          </div>

        </div>

        <!-- row line -->
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center sign-in-up-form">

            <input type="button" class="button black" value="Finish">

            <a href="order-step-2.html">
              Back
            </a>

          </div><!-- col -->
          
        </div><!-- row -->

      </div>

    </div><!-- row page name -->

  </div><!-- container -->
  
  {{> _footer }}
  
  {{> scripts }}

</body>
</html>
