<!doctype html>
<html class="no-js">
  <head>

    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  {{> _header }}

  <!-- container -->
  <div class="container basket">

    <!-- row page name -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h1 class="margin-top-fix category-name">
          Order
        </h1>

        <p>
          <a href="auth.html">
            Have an account? Login please
          </a>
        </p>
      </div>
    </div><!-- row page name -->

    <!-- row line -->
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-4 text-center sign-in-up-form">

        <form action="">

          <input type="email" placeholder="Email">
          <br />
          <input type="password" placeholder="Password">
          <br />
          <!--
          <div class="error">
            Some error here!
          </div>
          -->
          <input type="button" class="button black" value="Login and continue">

        </form>

      </div><!-- col -->

    </div><!-- row -->

  </div><!-- container -->

  {{> _footer }}

  {{> scripts }}

</body>
</html>
