<!doctype html>
<html class="no-js">
  <head>

    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  {{> _header }}

	<!-- container -->
	<div class="container basket">
		<!-- row page name -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<h1 class="margin-top-fix category-name">Payment </h1>
				<h3>
					Choose
				</h3>
				<div class="info-table row">
		</div>

		<div class="row payments">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
				<input type="radio" name="payment_method" value="pp_standard" id="pp_standard" checked="checked">
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
				<label for="pp_standard">PayPal</label>
			</div>
		</div>

		<div class="row payments">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
				<input type="radio" name="payment_method" value="cod" id="cod">
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
				<label for="cod">Cash On Delivery</label></div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<h3> Description </h3>
				<div class="info-table row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center">
						<textarea name="comment" cols="30" rows="10" placeholder="Have any question?"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center sign-in-up-form">
						<input id="button-payment-method" type="button" class="button black" value="Continue">

					</div><!-- col -->
				</div><!-- row -->
			</div>
		</div><!-- row page name -->
	</div><!-- container -->

	{{> _footer }}

  {{> scripts }}

</body>
</html>
