<!doctype html>
<html class="no-js">
  <head>
    
    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	{{> _header }}

	<div class="container">

		<!-- row page name -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class="margin-top-fix category-name profile-label">
					Julia’s photos
				</h1>
			</div>
		</div><!-- row page name -->
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 info-page-navigation">
				<!-- main-pages -->
				<div class="main-pages profile-left-side">
					<a href="profile-favorites.html">Favorites</a>
					<a href="profile-photos.html" class="active">My photos</a>
					<a href="profile-edit.html">Edit profile</a>
					<br />
					<a href="profile-history.html">History</a>
					<br />
					<a href="#">Logout</a>
				</div><!-- main-pages -->
			</div>

			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 profile-favorites">
				
				<div class="row">
					<!-- photo -->
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<img src="images/photos/asia-city-lights-1696-899x550.jpg" 
							alt="Photo Name">
					</div><!-- photo -->
					
					<!-- name and description -->
					<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
						<h3>
							<a href="item-card.html">
								The Mountains In The China
							</a>
						</h3>
						<p class="author">
							by Julia Potapova
						</p>
						<p class="price">
							$10
						</p>
						<p>
							<a href="#" class="button black">
								Download
							</a>
						</p>
					</div><!-- name and description -->
				</div><!-- row -->
				
				<div class="row">
					<!-- photo -->
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<img src="images/photos/asia-city-lights-1696-899x550.jpg" 
							alt="Photo Name">
					</div><!-- photo -->
					
					<!-- name and description -->
					<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
						<h3>
							<a href="item-card.html">
								The Mountains In The China
							</a>
						</h3>
						<p class="author">
							by Julia Potapova
						</p>
						<p class="price">
							$10
						</p>
						<p>
							<a href="#" class="button black">
								Download
							</a>
						</p>
					</div><!-- name and description -->
				</div><!-- row -->
				
			</div>

		</div><!-- row -->

	</div><!-- container -->	
	
	{{> _accept-footer }}
	{{> _footer }}
	
	{{> scripts }}

</body>
</html>
