<!doctype html>
<html class="no-js">
  <head>
    
    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	{{> _header }}

	<div class="container">

		<!-- row page name -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class="margin-top-fix category-name profile-label">
					Julia’s order history
				</h1>
			</div>
		</div><!-- row page name -->
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 info-page-navigation">
				<!-- main-pages -->
				<div class="main-pages profile-left-side">
					<a href="profile-favorites.html">Favorites</a>
					<a href="profile-photos.html">My photos</a>
					<a href="profile-edit.html">Edit profile</a>
					<br />
					<a href="profile-history.html" class="active">History</a>
					<br />
					<a href="#">Logout</a>
				</div><!-- main-pages -->
			</div>

			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 profile-order">

				<div class="row order-header">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						Date
					</div><!-- col -->
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						Order ID
					</div><!-- col -->
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						Price
					</div><!-- col -->
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						Status
					</div><!-- col -->
				</div><!-- row -->

				<div class="row order-history-line">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						20 jan 2015
					</div><!-- col -->
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						#1339
					</div><!-- col -->
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						$30
					</div><!-- col -->
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						Complete
					</div><!-- col -->
					
					<div class="order-info">
						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<img src="images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" 
									alt="Photo Name">
							</div><!-- col -->
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<p class="name">
									Photo name
								</p>
								<p class="author">
									by Julia Potapova
								</p>
							</div><!-- col -->
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<p class="price">
									$10
								</p>
							</div><!-- col -->
						</div><!-- row -->

						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<img src="images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" 
									alt="Photo Name">
							</div><!-- col -->
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<p class="author">
									by Julia Potapova
								</p>
							</div><!-- col -->
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<p class="price">
									$10
								</p>
							</div><!-- col -->
						</div><!-- row -->
					</div><!-- order-info -->
				</div><!-- row -->

				<div class="row order-history-line">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						20 jan 2015
					</div><!-- col -->
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						#1339
					</div><!-- col -->
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						$30
					</div><!-- col -->
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						Complete
					</div><!-- col -->
					
					<div class="order-info">
						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<img src="images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" 
									alt="Photo Name">
							</div><!-- col -->
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<p class="name">
									Photo name
								</p>
								<p class="author">
									by Julia Potapova
								</p>
							</div><!-- col -->
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<p class="price">
									$10
								</p>
							</div><!-- col -->
						</div><!-- row -->

						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<img src="images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" 
									alt="Photo Name">
							</div><!-- col -->
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<p class="author">
									by Julia Potapova
								</p>
							</div><!-- col -->
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<p class="price">
									$10
								</p>
							</div><!-- col -->
						</div><!-- row -->
					</div><!-- order-info -->
				</div><!-- row -->
				
			</div>

		</div><!-- row -->

	</div><!-- container -->	
	
	{{> _accept-footer }}
	{{> _footer }}
	
	{{> scripts }}

</body>
</html>
