<!doctype html>
<html class="no-js">
  <head>
    
    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	{{> _header }}

	<div class="container">

		<!-- row page name -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class="margin-top-fix category-name profile-label">
					Julia’s profile edit
				</h1>
			</div>
		</div><!-- row page name -->
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 info-page-navigation">
				<!-- main-pages -->
				<div class="main-pages profile-left-side">
					<a href="profile-photograph-photos.html">My photos</a>
					<a href="profile-photograph-edit.html" class="active">Edit profile</a>
					<br />
					<a href="#">Logout</a>
				</div><!-- main-pages -->
			</div>

			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 profile-form">
				
				<form action="">
					
					<input type="text" placeholder="Name">
					<br />
					<input type="email" placeholder="Email">
					
					<h3>
						Change password
					</h3>

					<input type="password" placeholder="Old password">
					<br />
					<input type="password" placeholder="New password">
					<br />
					<input type="password" placeholder="Confirm password">
					<br />
					<!--
					<div class="error">
						Some error here!
					</div>
					-->
					<input type="button" class="button black" value="Sign up">

				</form>

			</div>

		</div><!-- row -->

	</div><!-- container -->	
	
	{{> _accept-footer }}
	{{> _footer }}
	
	{{> scripts }}

</body>
</html>
