<!doctype html>
<html class="no-js">
  <head>
    
    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	{{> _header }}

	<div class="container">

		<!-- row page name -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class="margin-top-fix category-name profile-label">
					Julia’s profile edit
				</h1>
			</div>
		</div><!-- row page name -->
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 info-page-navigation">
				<!-- main-pages -->
				<div class="main-pages profile-left-side">
					<a href="profile-photograph-photos.html" class="active">My photos</a>
					<a href="profile-photograph-edit.html">Edit profile</a>
					<br />
					<a href="#">Logout</a>
				</div><!-- main-pages -->
			</div>

			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 profile-favorites photograph-photos">
				
				<div class="row">

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>
							<a href="item-card.html">
								The Mountains In The China
							</a>
						</h3>
					</div>


					<!-- photo -->
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<img src="images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" 
							alt="Photo Name">
					</div><!-- photo -->
					
					<!-- table line -->
					<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-right">
						<p class="left-caption">
							Price
						</p>
					</div><!-- table line -->
					<!-- table line -->
					<div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
						<p class="price">
							$10 / $100
						</p>
					</div><!-- table line -->

					<!-- table line -->
					<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-right">
						<p class="left-caption">
							Downloaded
						</p>
					</div><!-- table line -->
					<!-- table line -->
					<div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
						<p class="price">
							3
						</p>
					</div><!-- table line -->

					<!-- table line -->
					<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-right">
						<p class="left-caption">
							Total
						</p>
					</div><!-- table line -->
					<!-- table line -->
					<div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
						<p class="price">
							$30
						</p>
					</div><!-- table line -->

				</div><!-- row -->

				<div class="row">
				
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>
							<a href="item-card.html">
								The Mountains In The China
							</a>
						</h3>
					</div>

					<!-- photo -->
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<img src="images/photos/bridge-brooklyn-bridge-buildings-1188-825x550.jpg" 
							alt="Photo Name">
					</div><!-- photo -->
					
					<!-- table line -->
					<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-right">
						<p class="left-caption">
							Price
						</p>
					</div><!-- table line -->
					<!-- table line -->
					<div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
						<p class="price">
							$10 / $100
						</p>
					</div><!-- table line -->

					<!-- table line -->
					<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-right">
						<p class="left-caption">
							Downloaded
						</p>
					</div><!-- table line -->
					<!-- table line -->
					<div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
						<p class="price">
							3
						</p>
					</div><!-- table line -->

					<!-- table line -->
					<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-right">
						<p class="left-caption">
							Total
						</p>
					</div><!-- table line -->
					<!-- table line -->
					<div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
						<p class="price">
							$30
						</p>
					</div><!-- table line -->

				</div><!-- row -->
			</div>

		</div><!-- row -->

	</div><!-- container -->	
	
	{{> _accept-footer }}
	{{> _footer }}
	
	{{> scripts }}

</body>
</html>
