<!doctype html>
<html class="no-js">
  <head>
    
    {{> head }}

  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	{{> _header }}
	
	<!-- container -->
	<div class="container basket">

		<!-- row line -->
		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 col-md-text-center sign-in-up-form">
				
				<form action="">
					
					<input type="email" placeholder="Search...">

				</form>

			</div><!-- col -->
			
		</div><!-- row -->

		<!-- row line -->
		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 col-md-12text-center sign-in-up-form">
				
				<h1>
					Results
				</h1>
				
			</div><!-- col -->
			
		</div><!-- row -->

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{{> _catalog-photo-preview-small-2 }}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{{> _catalog-photo-preview-small-3 }}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{{> _catalog-photo-preview-small-1 }}
			</div>
		</div><!-- row -->

	</div><!-- container -->
	
	{{> _footer }}
	
	{{> scripts }}

</body>
</html>
