%svg {
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-left {
	background-position: 0 0;
	@extend %svg;
}

.svg-left-dims {
	width: 27.77777777777778px;
	height: 50px;
}

.svg-logo {
	background-position: 0 -50px;
	@extend %svg;
}

.svg-logo-dims {
	width: 50px;
	height: 50px;
}

.svg-right {
	background-position: 0 -100px;
	@extend %svg;
}

.svg-right-dims {
	width: 27.77777777777778px;
	height: 50px;
}

