/* Prevent the slideshow from flashing on load */
#slides {
	position: relative;
	z-index: 1;

	display: none;

	@mixin resize($width, $height) {
		@include border-radius(3px);

		width: $width !important;
		height: $height !important;

		.slidesjs-container {
			height: $height !important;
		}

		.slidesjs-control {
			height: $height !important;
		}
	}

	&.in-home-page {
		
	}
}

/* Navigation arrows */
@mixin arrow() {
	position: absolute;

	width: 50px;
	height: 90px;

	display: block;
	
	background: url(../img/okSliderArrows.svg);
	opacity: .8;

	z-index: 20;
	
	cursor: pointer;

	@media (max-width: 767px) {
		display: none;
	}

	border-bottom: none !important;
}

.slidesjs-previous {
	@include arrow();

	margin-left: 10px;
}

.slidesjs-next {
	@include arrow();

	background-position: 50px 0;
	right: 10px;
}

/* Show active item in the pagination */
.slidesjs-pagination {
	display: none;
}
